* {
    /* `otf-font-awesome` is required to be installed for icons */
    all: unset;
    font-family: Material Design Icons, Rubik Medium;
    font-size: 14px;
}

window#waybar {
    background: transparent;
}
tooltip label {
  background: #1f1d2e;
  color: #908caa;
  border: 1px solid #908caa;
  border-radius: 15px;
  padding: 5px;
}

.modules-right {
    background-color: #1f1d2e;
    border-radius: 50px;
    border: 2px solid #908caa;
    color: #908caa;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 6px;
    margin-right: 6px;
}

#workspaces button {
    border: 2px solid #908caa;
    background-color: #1f1d2e;
    color: #908caa;
    margin: 6px 5px 0 3px;
    border-radius: 50px;  
    padding: 0 12px;
    transition: all 150ms ease-out;
    /*transition: all 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);*/
}
#workspaces button label {
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: bold;
}
#workspaces button.active {
    background-color: #908caa;
    color: #1f1d2e;
    padding: 0 20px;
    transition: all 150ms ease-out;
}

#clock {
    border-radius: 50px;
    border: 2px solid #908caa;
    background-color: #1f1d2e;
    color: #908caa;
    margin: 6px 0 0 0;
    border-radius: 50px;
    padding: 0 8px;
}

#network {
    color: #eb6f92;
}
#memory {
    color: #3e8fb0;
    padding-left: 10px;
}

#backlight {
    color: #f6c177;
    padding-left: 10px;
}

#pulseaudio {
    color: #9ccfd8;
    padding-left: 10px;
}

#tray {
    padding-left: 10px;
}
#tray menu {
    background: #1f1d2e;
    color: #908caa;
    border: 2px solid #908caa;
    border-radius: 10px;
    padding: 5px;
}

#language {
    color: #ea9a97;
    padding-left: 10px;   
}

#battery {
    color: #c4a7e7;
    padding-left: 10px;
}
