* {
    /* `otf-font-awesome` is required to be installed for icons */
    all: unset;
    font-family: Material Design Icons, Cabin;
    font-size: 14px;
}

window#waybar {
    background: transparent;
}
tooltip label {
  background: #24273a;
  color: #a5adcb;
  border: 1px solid #a5adcb;
  border-radius: 15px;
  padding: 5px;
}

.modules-right {
    background-color: #24273a;
    border-radius: 50px;
    border: 2px solid #a5adcb;
    color: #a5adcb;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 6px;
    margin-right: 6px;
}

#workspaces button {
    border: 2px solid #a5adcb;
    background-color: #24273a; 
    color: #a5adcb;
    margin: 6px 5px 0 3px;
    border-radius: 50px;  
    padding: 0 12;
    transition: all 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}

#workspaces button.active {
    background-color: #a5adcb;
    color: #24273a;
    padding: 0 20;
    transition: all 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}

#clock {
    border-radius: 50px;
    border: 2px solid #a5adcb;
    background-color: #24273a;
    color: #b8c0e0;
    margin: 6px 0 0 0;
    border-radius: 50px;
    padding: 0 8px;
}

#network {
    color: #ed8796;
}
#memory {
    color: #a6da95;
    padding-left: 10px;
}

#backlight {
    color: #eed49f;
    padding-left: 10px;
}

#pulseaudio {
    color: #8aadf4;
    padding-left: 10px;
}

#tray {
    padding-left: 10px;
}
#tray menu {
    background: #24273a;
    color: #a5adcb;
    border: 2px solid #a5adcb;
    border-radius: 10px;
    padding: 5px;
}

#language {
    color: #f5bde6;
    padding-left: 10px;   
}

#battery {
    color: #8bd5ca;
    padding-left: 10px;
}
